html {
	background-color: #fff4e6;
}

body{
	text-align: center;
	font-size: 40px;
}

input[type="button"] {
	background-color: #be9b7b;
	border: 2px solid #854442;
	border-radius: .4em;
	padding: 1em;
	font-size: 25px;
	font-family: 'MedievalSharp', cursive;
	color: #4b3832;
	text-shadow: -1px -1px #854442;
}

p {
	border: 4px solid #854442;
	border-radius: 0.4em;
	margin: 15%;
	padding: 5%;
	background-color: #be9b7b;
	text-shadow: -2px -1px #854442;
}


div#newtext {
	color: #4b3832;
	
}

.zero {
	font-family: 'Autour One', cursive;
}

.one {
	font-family: 'Berkshire Swash', cursive;	
}

.two {
	font-family: 'Calligraffitti', cursive;
	font-size: 1.2em;
}

.three {
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.2em;
}

.four {
	font-family: 'MedievalSharp', cursive;
	font-size: 1.1em;
}

.five {
	font-family: 'Metamorphous', cursive;
}

.six {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.1em;
}

.seven {
	font-family: 'Pirata One', cursive;
	font-size: 1.3em;
}

.eight {
	font-family: 'Uncial Antiqua', cursive;
}

.nine {
	font-family: 'UnifrakturCook', cursive;
	font-size: 1.1em;
}
