html {
	background-color: #fff4e6;
}

body{
	text-align: center;
	font-size: 40px;
}

p {
	line-height: 1.3
}

div#newtext {
	color: #4b3832;
	
}

.zero {
    font-family: 'Autour One', cursive;
}

.one {
	font-family: 'Berkshire Swash', cursive;
}

.two {
    font-family: 'Calligraffitti', cursive;
}

.three {
    font-family: 'Macondo Swash Caps', cursive;
}

.four {
	font-family: 'MedievalSharp', cursive;
}

.five {
    font-family: 'Metamorphous', cursive;
}

.six {
    font-family: 'Permanent Marker', cursive;
}

.seven {
	font-family: 'Pirata One', cursive;
}

.eight {
	font-family: 'Uncial Antiqua', cursive;
}

.nine {
    font-family: 'UnifrakturCook', cursive;
}
